.contactText {
  font-size: 1rem;
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 600px) {
  .contactText {
    font-size: 1.25rem;
  }
}

.creditText {
  font-size: 0.75rem;
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 600px) {
  .creditText {
    font-size: 1rem;
  }
}

.nextjsHighlight {
  font-weight: 600;
  color: #ffffff;
  display: inline;
}